=render partial: "shared/groups"

.contents-head
  .contents-head__group
    .group__groupName
      sampleグループ
    =link_to 'Edit', "edit", :class => "group__edit"
  .contents-head__members
    Members: Natsumi

.main-contents
  .main-contents__chats
    =render partial: "messages"

  .inputForm
    = form_for [@group, @message] do |f|
      .inputForm__text
        = f.text_field :content, class: 'text__holder', placeholder: 'type a message'
        = f.label :image, class: 'upload-icon' do
          = fa_icon 'picture-o'
          = f.file_field :image, id: 'filesend'
      .inputForm__button
        = f.submit 'SEND', id: 'submit_button'

