=render partial: "shared/groups"

.contents-head
  .contents-head__group
    .group__groupName
      = @group.name
    =link_to 'Edit', "edit", :class => "group__edit"
  .contents-head__members
    Members: Natsumi

.main-contents
  .main-contents__chats
    = render @messages

  .inputform
    = form_for [@group, @message], html: {id: 'new_message'} do |f|
      .inputform__text
        = f.text_field :content, class: 'text__holder', placeholder: 'type a message'
        .inputform__mask
          = f.label :image, class: 'inputform__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
      .inputform__button
        = f.submit 'SEND', id: 'submit_button'

